import(methods)
importFrom(httr, GET, content)
importFrom(rjson, fromJSON)

importFrom(S4Vectors, wmsg, isTRUEorFALSE, isSingleString, isSingleStringOrNA)

export(
    list_UCSC_genomes,
    get_organism_for_UCSC_genome,
    list_UCSC_chromosomes,
    list_UCSC_primary_tables_and_tracks,
    UCSC_dbselect
)

